/* Mobile */
@media only screen and (max-width: 390px) {
    .container {
        margin: 0;
    }

    .hideOnMobile {
        display: none;
    }

    nav li:last-child {
        display: inline-block;
        margin-right: 0;

    }

    .nav-container {
        /* box-sizing: border-box; */
        border-bottom: 0.5px solid rgb(254, 163, 1);
        margin: 0 auto;
    }

    nav li:first-child img {
        margin-right: auto;
    }

    /* Banner */

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .banner-container .left-child {
        line-height: 1.2;
        text-align: center;
    }

    .banner-container h1 {
        font-size: 32px;
        font-weight: var(--primary-font-weight);
        margin-bottom: 20px;
    }

    .banner-container p {
        font-weight: 500;
        font-size: 12px;
    }

    .banner-container img {
        width: 280px;
        height: auto;
    }

    .banner-container .right-child {
        margin: 0;
    }

    .banner-container button {
        width: 131;
        height: 42px;
        padding: 10px 20px;
        font-size: 16;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }

    /* standard curriculum */
    .standard-container {
        padding: 0;
        border: var(--primary-border);
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .standard-h3 {
        font-family: var(--primary-font);
        font-size: 20px;
        font-weight: var(--primary-font-weight);
        text-align: center;
    }

    .standard-container div:first-child {
        margin: auto;
    }

    .standard-container div:nth-child(3) {
        margin: auto;
    }

    .arrow {
        display: none;
    }

    /* Our Stories */
    .stories-container {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .stories-left {
        display: none;
    }

    .stories-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .stories-container .sh3 {
        font-family: var(--primary-font);
        font-size: 20px;
        font-weight: var(--primary-font-weight);
        text-align: center;
        margin: 20px;
        /* margin-bottom: 30px; */
    }

    .stories-subcontainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 10px;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
    }


    .btn-1,
    .btn-2,
    .btn-3,
    .btn-4 {
        display: none;
    }

    .str-btn {
        margin-bottom: 20px;
    }

    /* Footer */
    .footer {

        display: flex;
        flex-direction: column;
        /* margin-bottom: 70px; */
        margin: 0;
        padding: 10px 0 0 10px;
    }

    .footer-middle {
        margin-top: 30px;
        margin-left: 0;
    }

    .footer-end {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .footer-end {
        display: none;
    }

    .foot-end {
        margin-top: 20px;
        margin-left: 0;
    }



}

/* tab */
@media only screen and (min-width: 600px) and (max-width: 768px) {}