/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:wght@100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/* shared css */
:root {
    /* --primary-color: rgb(58, 58, 58);
    --secondary-color: rgb(224, 44, 109); */
    --hover-color: #f0f0f0;
    --btn-hover: #c92080;
    --primary-font: 'Quicksand', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-font-size: 46px;
    --secondary-font-size: 15.34px;
    --primary-font-weight: 700;
    --secondary-font-weight: 500;
    --btn-border-radius: 47.93px;
    /* --primary-margin: 10px 140px 0 140px; */
    --primary-border: 2px solid green;
}

.container {
    /* border: 2px solid black; */
}

/* nav bar pc */
.nav-container {
    border: var(--primary-border);
    /* margins (top, bottom, left, right)
    margin: 0 140px;
    */
    /* margins (top, right, bottom, left)
     */
    margin: var(--primary-margin);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 10px 0 10px 0px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: var(--primary-font-size);
}

nav li:first-child img {
    width: 40px;
    height: auto;
    margin-right: 10px
}

nav li {
    margin: 0;
    padding: 20px;

}

nav li:first-child {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:last-child {
    margin-left: auto;
}

nav li:first-child a {
    font-size: 32px;
    font-weight: var(--primary-font-weight);
    color: rgb(17, 17, 17);
}

nav li:nth-child(2) a {
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: var(--primary-font-weight);
}

nav li:nth-child(3) a {
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: var(--secondary-font-weight);
}

nav li:nth-child(4) a {
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: var(--secondary-font-weight);
}

nav li:nth-child(5) a {
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: var(--secondary-font-weight);
}

nav li:nth-child(6) a {
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    width: 197px;
    height: 50px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

nav li:nth-child(6) a:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

nav li:last-child {
    display: none;

}

.hideOnMobile {}

/* Banner Section */
.banner-container {
    border: var(--primary-border);
    margin: var(--primary-margin);
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container .left-child {
    line-height: 1.2;
    margin-left: 0;
}

.banner-container h1 {
    font-size: 56px;
    font-weight: var(--primary-font-weight);
    margin-bottom: 20px;
}

.banner-container .left-child .first {
    color: rgb(254, 163, 1);
}

.banner-container .left-child .second {
    color: rgb(1, 172, 253);
}

.banner-container p {
    font-weight: 400;
    font-size: 20px;
    color: rgb(17, 17, 17);
}

.banner-container button {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 197px;
    height: 50px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.banner-container button:hover {
    background-color: var(--btn-hover);
}

.banner-container img {
    margin-right: 0;
    width: 400px;
    height: auto;
}